.creating-form {
    position: relative;
    text-align: center;
    width: 60%;
    display: block;
    margin: auto;
}

.body-field {
    width: 100%;
    display: block;
    margin: auto;
    height: 30%;
    font-size: 18px;
}

.head-field {
    width: 100%;
    font-size: 24px;
    height: 30px;
}

.submit-button {
    margin-top: 30px;
    width: 30%;
    font-size: 24px;
    height: 5%;
}

.field-title {
    font-size: 28px;
    padding: 10px;
}