.input-block {
    margin-left: 40%;
    width: 20%;
    height: 5%; 
    margin-bottom: 0.5%;
}

.input-text {
    width: 100%;
    height: 100%;
    font-size: 100%;
}

.page-note {
    width: 20%;
    height: 5%;
    margin-left: 40%;
    margin-bottom: 0.5%;
    font-size: 40;
    text-align: center;
}