.post {
    background-color: lightcoral;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin-left: 2%;
    margin-top: 3%;
    width: 93%;
}

.child-post {
    background-color: lightpink;
    margin-left: 5%;
    margin-top: 1.5%;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    width: 90%;
}

.thread-title {
    width: 40%;
    display: inline-block;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.thread-title-pic {
    width: 100%;
}

.post-label {
    color: grey;
    font-size: 12px;
}

.child-id {
    font-size: 12px;
}

.body {
    padding: 25px;
}

.post a {
    text-decoration: none;
}

.child-post a {
    text-decoration: none;
}

.create-thread {
    position: relative;
    display: block;
    text-align: center;
    width: 40%;
    margin: auto;
    padding: 10px;
    font-size: 30px;
}