.post-literal {
    font-size: 20px;
}

.post {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-areas:
    "info"
    "body";
}

.post .head {

}

.post .body {
    grid-area: body;
}   

.post .info {
    grid-area: info;
    font-size: 20px;
}