<html>
    <head>
        {% block meta %}
            <meta type='text/html' charset='utf8'>
        {% endblock %}

        {% block requirements %}
            <link rel='stylesheet' type='text/css' href='/public/styles/global_debug.css'>
            <script type='text/javascript' src='/public/scripts/global_debug.js'></script>
        {% endblock %}
    </head>

    <body>
        <header>
            <div id='header-quote'>Свободен лишь тот, кто может позволить себе не лгать.</div>
            <div id='header-boards-refs'>
                [ {% for board in boards %}
                <a href='/board/{{ board.short }}' class='header-list-item'>{{ board.short }} </a> / 
                {% endfor %} ]
            </div>
        </header>

        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>

        <footer>
        </footer>
    </body>
</html>