<html>
    <head>
        <meta type='text/html' charset='utf8'>
        <link rel='stylesheet' type='text/css' href='/public/styles/fonts.css'>
        <link rel='stylesheet' type='text/css' href='/public/styles/global.css'>
        <link rel='stylesheet' type='text/css' href='/public/styles/file.css'>
        <script type='text/javascript' src='/public/scripts/global.js'></script>
        {% block requirements %}
        {% endblock %}
    </head>

    <body>
        <div id='container'>
            <div id='header'>
                <div id='quote'>
                    pyiboard.torianik.online - Паеборд /
                    <a href='https://github.com/D34DStone/pyiboard'>[Github]</a> /
                    <a href='https://t.me/torianik_george'>[Telegram]</a>
                </div>
                <div id='boards'>
                    [ {% for board in boards %}
                    <a href='/{{ board.short }}' class='header-list-item'>{{ board.short }} </a> / 
                    {% endfor %} ]
                </div>
            </div>

            <div id='content'>
                {% block content %}
                {% endblock %}
            </div>

            <div id='footer'>

            </div>
            <!--
                <header>
                    <div class='quote'>Свободен лишь тот, кто может позволить себе не лгать.</div>
                    <div class='boards'>
                        [ {% for board in boards %}
                        <a href='/{{ board.short }}' class='header-list-item'>{{ board.short }} </a> / 
                        {% endfor %} ]
                    </div>

                </header>

                <div id='content'>
                </div>

                <footer>
                    
                </footer>
            -->
        </div>
    </body>
</html>