<html>
    <head>
        <meta type='text/html' charset='utf8'>

        <link rel='stylesheet' type='text/css' href='/public/styles/global.css'>
        <script type='text/javascript' src='/public/scripts/global.js'></script>
        {% block addition_requirements %}
        {% endblock %}
    </head>

    <body>
        <header>
            <div class='quote'>Свободен лишь тот, кто может позволить себе не лгать.</div>
            <div class='header-boards-refs'>
                [ {% for board in boards %}
                <a href='/board/{{ board.short }}' class='header-list-item'>{{ board.short }} </a> / 
                {% endfor %} ]
            </div>

        </header>

        <div id='content'>
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            
        </footer>
    </body>
</html>