{% extends 'base.html' %}

{% block addition_requirements %}
    <link rel='stylesheet' type='text/css' href='/public/styles/post.css'>
{% endblock %}

{% block content %}
    <div class='thread-title'>
        <h1>{{ current_board.title }} - /{{ current_board.short }}/</h1>
        <img class='thread-title-pic' src='/public/board-images/{{ current_board.short }}.gif'>
    </div>
    <div class='create-thread'>
        <a href='/board/{{ current_board.short }}/thread_post_constructor'>[Создать тред]</a>
    </div>
    {% for post in posts %}
        <div class='post-family'>

            <div class='post'>
                <a class='post-label'>>></a><div class='inline'>{{ post.head }} | </div>
                <div class='inline'>{{ post.created }} | </div>
                <div class='inline'>пост но. {{ post.id }} | </div>
                <div class='inline'><a href='/board/{{ current_board.short }}/thread/{{ post.id }}'>[к треду]</a></div>
                <div class='inline'><a href='/board/{{ current_board.short }}/post_constructor?parent_post_id={{ post.id }}'>[ответить]</a></div>
                {% for child_id in post.children_ids %}<a href='#' class='child-id inline'>[>>{{ child_id }}]</a>{% endfor %}
                <div class='body'>
                    {{ post.body }}
                </div>
            </div>

            <div>
                {% for child_post in post.children %}
                    <div class='child-post'>
                        <a class='post-label'>>></a>
                        <div class='inline'>{{ child_post.head }} | </div>
                        <div class='inline'>{{ child_post.created }} | </div>
                        <div class='inline'>пост но. {{ child_post.id }} | </div>
                        <div class='inline'><a href='/board/{{ current_board.short }}/post_constructor?parent_post_id={{ child_post.id }}'>[ответить]</a></div>
                        {% for child_id in child_post.children_ids %}<a href='#' class='child-id inline'>[>>{{ child_id }}]</a>{% endfor %}
                        <div class='body'>
                            <a href='#'>>>{{ child_post.parent_id }}</a><br>
                            {{ child_post.body }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            
        </div>
    {% endfor %}
{% endblock %}