{% extends 'base.html' %}

{% block addition_requirements %}
    <link rel='stylesheet' type='text/css' href='/public/styles/post.css'>
    <link rel='stylesheet' type='text/css' href='/public/styles/button.css'>
{% endblock %}

{% block content %}
    <div class='creating-form'>
        <div class='field-title'> Заголовок </div>
        <input class='head-field' id='head-field' type='text'>
        <div class='field-title'> Тело поста </div>
        <textarea class='body-field' id='body-field'></textarea>
        <input class='midnight-blue-flat-button submit-button' id='submit-button' type='button' value='Отправить'>
    </div>
{% endblock %}