{% extends 'base.html' %}

{% block requirements %}
{{ super() }}
<link rel='stylesheet' type='text/css' href='/files/public/styles/login.css'>
<script type='text/javascript' src='/files/public/scripts/login.js'></script>
{% endblock %}

{% block content %}
    <div id='login-form'>
        <div class='field-title'>Логин</div>
        <input class='input-form' id='login-input' type='text'>
        <div class='field-title'>Пароль</div>
        <input class='input-form' id='password-input' type='password'>
        <div>
            <input type='button' class='midnight-blue-flat-button submit-button' id='login-button' value='Войти'>
        </div>
    </div>
{% endblock %}