<html>
    <head>
        <meta type='text/html' charset='utf8'>

        <link rel='stylesheet' type='text/css' href='public/styles/oauth.css'>
    </head>

    <body>
        <div id='register-form'>
            <label><p>Enter your login:</p></label>
            <input id='login-input' type='text'>

            <label><p>Enter your password:</p></label>
            <input id='password-input' type='password'>
            
            <div id='login-form'>
                <input id='login-button' type='button' value='Login'>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>
        </div>
    </body>
</html>