{% extends 'base.html' %}

{% block requirements %}
    <link rel='stylesheet' type='text/css' href='/files/public/styles/button.css'>
    <link rel='stylesheet' type='text/css' href='/files/public/styles/post.css'>
    <link rel='stylesheet' type='text/css' href='/files/public/styles/post_constructor.css'>
    <script type='text/javascript' src='/files/public/scripts/post_constructor.js'></script>
{% endblock %}

{% block content %}
    <div id='post-constructor'>
        <div id='head'>Заголовок</div>
        <input id='head-input' type='text'>
        <div id='body'>Тело</div>
        <textarea id='body-input'></textarea>
        <div id='files-input'>
            <input type='file' id='file-input'>
            <input type='button' id='upload-btn' value='Загрузить файл'>
            <div><h1>Прикрепленные файлы:</h1></div>
            <div id='uploaded-files'>

            </div>
        </div>
        <div id='submit-button-wrapper'><input type='button' id='submit-button' value='Отправить'></div>
    </div>
{% endblock %}