<html>
    <head>
        <meta type='text/html' charset='utf8'>

        <link rel='stylesheet' type='text/css' href='public/styles/login.css'>
        <link rel='stylesheet' type='text/css' href='public/styles/main.css'>

        <script type='text/javascript' src='public/scripts/registration.js'></script>
    </head>

    <body>
        <div id='login-form'>
            <div class='page-note'>
                <h6 class='destruction'>РЕГИСТРАЦИЯ</h6>
            </div>

            <div class='input-block'>
                <input id='login-input' type='text' class='input-text'>
            </div>

            <div class='input-block'>
                <input id='password-input' type='password' class='input-text'>
            </div>

            <div class='input-block'>
                <input id='login-button' type='button' value='ЗАРЕГИСТРИРОВАТЬСЯ' class='input-text destruction'>
            </div>

            <h1 class='page-note'>
                <a class='destruction' href='/registration'>ВХОД</a>
            </h1>
        </div>
    </body>
</html>