{% extends 'base.html' %}

{% block requirements %}
    {{ super() }}
    <link rel='stylesheet' type='text/css' href='/files/public/styles/post.css'>
    <link rel='stylesheet' type='text/css' href='/files/public/styles/thread.css'>
{% endblock %}

{% block content %}
    <div class='title-link'>
        <a href='/{{ current_board.short }}'>[Обратно на доску]</a>
    </div>

    <div class='title-link'>
        <a href='/{{ current_board.short }}/post_constructor?parent_post_id={{ thread_post.id }}'>[Ответить в тред]</a>
    </div>

    <div class='post'>
        <a class='post-label'>>></a><div class='inline'>{{ thread_post.head }} | </div>
        <div class='inline'>{{ thread_post.created }} | </div>
        <div class='inline'>пост но. {{ thread_post.id }} | </div>
        <div class='inline'><a href='/{{ current_board.short }}/post_constructor?parent_post_id={{ thread_post.id }}'>[ответить]</a></div>
        {% for child_id in thread_post.children_ids %}<a href='#' class='child-id inline'>[>>{{ child_id }}]</a>{% endfor %}
        <div class='files'>{% for filename in thread_post.files %} <img href='{{ filename }}' class='file'> {% endfor %}</div>
        <div class='body'>
            {{ thread_post.body }}
        </div>
    </div>

    {% for post in posts %}
        <div class='child-post'>
            <a class='post-label'>>></a><div class='inline'>{{ post.head }} | </div>
            <div class='inline'>{{ post.created }} | </div>
            <div class='inline'>пост но. {{ post.id }} | </div>
            <div class='inline'><a href='/{{ current_board.short }}/post_constructor?parent_post_id={{ post.id }}'>[ответить]</a></div>
            {% for child_id in post.children_ids %}<a href='#' class='child-id inline'>[>>{{ child_id }}]</a>{% endfor %}
            <div class='files'>{% for filename in post.files %} <a href='{{ filename }}'><img src='{{ filename }}' class='file'></a> {% endfor %}</div>
            <div class='body'>
                <a href='#'>>>{{ post.parent_id }}</a><br>
                {{ post.body }}
            </div>
        </div>
    {% endfor %}
{% endblock %}